<%- include('includes/head')  %>

    <body class="body">
        <!-- <div>
    <h1 class="container">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Co mmodi alias porro asperiores animi debitis perspiciatis. Dignissimos tenetur unde, assumenda quos magni ipsa, qui quod facere amet deserunt beatae aut saepe.</h1>
</div> -->
        <section class="container">
            <h1>
                <% if(typeof titulo !== 'undefined') { %>
                    <%- titulo %>
                        <% } else { %>
                            titulo padrao
                            <% } %>
            </h1>
            <h1>
                <% numeros.forEach(num => { %>
                    <%- num %>
                        <% }) %>

            </h1>
            <h2>formulario</h2>
            <form action="/" method="post">
                <label for="">Cliente: </label>
                <input type="text" name="cliente" id="">
                <button type="submit"></button>
            </form>
        </section>

        <%- include('includes/footer')  %>