<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="body">
    <script src="assets/js/bundle.js"></script>

</body>

<!-- <div>
    <h1 class="container">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi alias porro asperiores animi debitis perspiciatis. Dignissimos tenetur unde, assumenda quos magni ipsa, qui quod facere amet deserunt beatae aut saepe.</h1>
</div> -->

<section class="container">
    <h1>formulario</h1>
    <form action="/" method="post">
        <label for="">Cliente: </label>
        <input type="text" name="cliente" id="">
        <button type="submit"></button>
    </form>
</section>

</html>