<%- include('includes/head')%>

    <body>

        <%- include('includes/nav')%>

            <div class="container">

                <div class="row">
                    <div class="col-lg-2"> </div>

                    <div class="col-lg-8 my-5">
                        <h1 class="display-1 text-center">
                            Erro 404 po, deu mo ruim
                        </h1>
                        <p class="text-center lead">
                            Não tem nada aqui :(

                            <%- locals.csrfToken  %>
                        </p>
                    </div>
                </div>

            </div>

            <%- include('includes/footer') %>